# Ingoring colcon folders
build/
install/
log/

# Ignoring snap folders
parts/
prime/
stage/
overlay/

# Ignoring snap package
*.snap

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Source dependencies imported from vhit_robot_demo.repos
/src/vhit_robot_driver/
/src/vhit_robot_description/
