<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="vhit_robotics_rev_1_ros2_control" params="name initial_positions_file hardware elac_mapping_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
        <xacro:property name="elac_mapping" value="${xacro.load_yaml(elac_mapping_file)['elac_mapping']}"/>

        <ros2_control name="${name}" type="system">
            <xacro:if value="${hardware == 'mock'}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                </hardware>
            </xacro:if>

            <xacro:if value="${hardware == 'gazebo'}">
                <hardware>
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </hardware>
            </xacro:if>

            <xacro:if value="${hardware == 'real'}">
                <hardware>
                    <plugin>vhit_robot_driver/VhitRobotHardwareInterface</plugin>
                </hardware>
            </xacro:if>

            <joint name="rotbase">
                <param name="DL_node">${elac_mapping.rotbase.name}</param>
                <param name="gear_ratio">${elac_mapping.rotbase.gear_ratio}</param>
                <param name="feed_constant">${elac_mapping.rotbase.feed_constant}</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotbase']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>
            <joint name="shoulder_joint">
                <param name="DL_node">${elac_mapping.shoulder_joint.name}</param>
                <param name="gear_ratio">${elac_mapping.shoulder_joint.gear_ratio}</param>
                <param name="feed_constant">${elac_mapping.shoulder_joint.feed_constant}</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_joint']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>
            <joint name="elbow">
                <param name="DL_node">${elac_mapping.elbow.name}</param>
                <param name="gear_ratio">${elac_mapping.elbow.gear_ratio}</param>
                <param name="feed_constant">${elac_mapping.elbow.feed_constant}</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>
            <joint name="wrist_pitch">
                <param name="DL_node">${elac_mapping.wrist_pitch.name}</param>
                <param name="gear_ratio">${elac_mapping.wrist_pitch.gear_ratio}</param>
                <param name="feed_constant">${elac_mapping.wrist_pitch.feed_constant}</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist_pitch']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>
            <joint name="wrist_roll">
                <param name="DL_node">${elac_mapping.wrist_roll.name}</param>
                <param name="gear_ratio">${elac_mapping.wrist_roll.gear_ratio}</param>
                <param name="feed_constant">${elac_mapping.wrist_roll.feed_constant}</param>
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist_roll']}</param>
                </state_interface>
                <!-- <state_interface name="velocity"/> -->
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
