<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="vhit_robotics_rev_1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import vhit_robotics_rev_1 urdf file -->
    <xacro:include filename="$(find vhit_robot_demo)/urdf/vhit_robotics_rev_1.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="vhit_robotics_rev_1.ros2_control.xacro" />


    <xacro:vhit_robotics_rev_1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
