<?xml version="1.0"?>
<robot name="vhit_robotics_rev_1" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>
        $(find vhit_robot_demo)/config/vhit_robotics_rev_1_controllers.yaml
      </parameters>
    </plugin>
  </gazebo>

</robot>
